# HTML image files to https://nbisweden.github.io/workshop-mlbiostatistics
*_files/*
!*_files/figure-html

# Path adjusted HTML files
to_canvas/*

# Avoid any access to solutions
exercises-solutions.html