/*-- scss:defaults --*/


// fonts
$presentation-font-size-root: 22px;

.reveal .slides section.level1 > h1 {
  font-size: 3em !important;
}



.example-box {
  background-color: #DCEEFF;
  border-left: 6px solid #2878a8;
  border-radius: 6px;
  padding: 0.7em 1em;
  margin: 0.8em 0;
  font-size: 0.9em;
  font-style: italic;
}

.key-message-box {
  background-color: #e7f4ea;
  border-left: 6px solid #31824b;
  border-radius: 6px;
  padding: 0.7em 1em;
  margin: 0.8em 0;
  font-size: 0.9em;
  font-style: italic;
}

.text-box-1 {
  background-color: #FADDE8;
  // background-color: #DCEEFF;;
  border-radius: 6px;
  padding: 0.7em 1em;
  margin: 0.8em 0;
  font-size: 0.9em;
}

.text-box-2 {
  background-color: #E8E8E8;
  border-radius: 6px;
  padding: 0.7em 1em;
  margin: 0.8em 0;
  font-size: 0.9em;
}
