table.dataTable td {
  font-size: 0.6em;
}

table.dataTable tr.dtrg-level-0 td {
  font-size: 0.6em;
}

table.dataTable thead {
  font-size: 0.6em;
}

/* Left-align kableExtra footnotes */
.kable_wrapper table tfoot td,
.kable-table tfoot td,
.lightable-classic tfoot td,
.lightable-paper tfoot td {
  text-align: left !important;
}

/* (optional) make sure the footer actually renders as a footer */
.kable_wrapper table tfoot { 
  display: table-footer-group !important; 
}

/*
Source - https://stackoverflow.com/a/76610918
Posted by Shafee, modified by community. See post 'Timeline' for change history
Retrieved 2026-02-19, License - CC BY-SA 4.0
*/

.cell-output {
  /* background-color: #e8f5e9; */
  background-color: white;
  border-radius: 4px;
}

div.sourceCode {
  background-color: #e8f5e9;
  border-radius: 6px;
}


h1, h2, h3, h4 {
  font-family: "Inter", sans-serif;
  /* font-family: "Source Sans 3", sans-serif; */
  font-weight: 700;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}

body {
  font-family: "Inter", sans-serif;
  /* font-family: "Source Sans 3", sans-serif; */
  font-size: 15px;
  line-height: 1.6;
}

#TOC {
  font-size: 0.85rem;
}

#TOC .toc-title {
  font-size: 1.1rem;
  font-weight: 600;
}

#TOC a {
  color: #4a5568;
}

#TOC a.active {
  font-weight: 600;
}


